{#
    Copyright (c) 2023 Coalesce. All rights reserved.
This script and its associated documentation are confidential and proprietary to Coalesce.
Unauthorized reproduction, distribution, or disclosure of this material is strictly prohibited.
Coalesce permits you to copy and modify this script for the purposes of using with Coalsce but
does not permit copying or modification for any other purpose.  
#}
{# == Node Type Version        : 1  == #}
{# == Node Type Name           : Fact  == #}
{# == Node Type Description    : This node loads data into work table using config options distinct,groupby all,order by ,multi-source  == #}

{# == Check if last modified comparison toggle is enabled  #}

{% set has_business_key = columns | selectattr("isBusinessKey") | list | length > 0 %}
{%if config.lastModifiedComparison%}
 {% set last_modified_col = config.lastModifiedColumn.name | default('') %}
{%endif%}

{%if config.treatNullAsCurrentTimestamp  and 'TIMESTAMP' in (config.lastModifiedColumn.dataType | upper)  %}
     {%set useCurrentTimeStamp = true %}
   {%else%}
     {%set useCurrentTimeStamp = false %}
   {%endif%}


{# == To run data quality tests before data insertion == #}

{% for test in node.tests if config.testsEnabled %}
        {% if test.runOrder == 'Before' %}
            {{ test_stage(test.name, test.continueOnFailure) }}
            {{ test.templateString }}
        {% endif %}
    {% endfor %}

    {% if node.materializationType == 'table' %}

    {# == Queries to be excuted before data insertion  == #}

        {% if config.preSQL %}
            {{ stage('Pre-SQL') }}
            {{ config.preSQL }}
        {% endif %}
    
    {# == Truncate data before data insertion  == #}

        {% if config.truncateBefore %}
            {{ stage('Truncate Fact Table') }}
            TRUNCATE TABLE {{ ref_no_link(node.location.name, node.name) }}
        {% endif %}
        
    {# == Check if business key is specified  == #}

        {% set has_business_key = columns | selectattr("isBusinessKey") | list | length > 0 %}    
        
            {% if has_business_key %}

            {# == Executed if business key is specified  == #}

        
                {{ stage('MERGE ' + ' Sources' | string ) }}
                MERGE INTO {{ ref_no_link(node.location.name, node.name) }} `TGT`
                USING (
                
                {% for source in sources %}
                    {% set joinclause = source.join %}
                    (SELECT
                    {% if config.selectDistinct %}
                    DISTINCT
                    {% endif %}
                    {% for col in source.columns %}
                        {% if col.name == last_modified_col and useCurrentTimeStamp %}
					     COALESCE({{ get_source_transform(col) }},CURRENT_TIMESTAMP()) AS `{{ col.name }}`,
						 COALESCE({{ get_source_transform(col) }},CURRENT_TIMESTAMP()) as COMPARISON_VALUE,
						 MAX (`DIM`.`{{last_modified_col}}`) AS MAX_TARGET_VALUE		    
                       {% elif col.name == last_modified_col and not useCurrentTimeStamp%}
                        {{ get_source_transform(col) }} AS `{{ col.name }}`,
						 {{ get_source_transform(col) }} AS COMPARISON_VALUE,
					     MAX (`DIM`.`{{last_modified_col}}`) AS MAX_TARGET_VALUE
                       {%else%}
                        {{ get_source_transform(col) }} AS `{{ col.name }}`
                       {%endif%}
                       {%- if not loop.last %}, {% endif %}
                    {% endfor %}
                    {% if config.deleteStrategy == "HARD DELETE"
                        and node.isMultisource == false %}
                        ,'I' as delete_flag
                    {%endif%}
                    {{ get_clause(source.join,'from')}}
                    {%if config.lastModifiedComparison%}	        
                        LEFT JOIN {{ ref_no_link(node.location.name, node.name) }} `DIM` ON
                             {% for col in source.columns if col.isBusinessKey -%}
                                {% if not loop.first %}
                                    AND
                                {% endif %}
                                {{ get_source_transform(col) }} = `DIM`.`{{ col.name }}`
                            {% endfor %}
                  {%endif%}
                   {% set clause = get_clause(source.join) %}
                   {% if clause %}
                      {{ ("WHERE " ~ clause.strip()[3:].strip()) if clause.strip().upper().startswith('AND') else clause }}
                   {% endif %}
                    {% if config.groupByAll or config.lastModifiedComparison%}				
                        GROUP BY ALL
                    {% endif %}
                    {{ sortorder_by_colv() }})
                    {% if config.deleteStrategy == "HARD DELETE"
                        and node.isMultisource == false %}
                    /* Rows To Be Deleted As They No Longer Exist In Source */
                    UNION ALL
                        (
                            SELECT
                            {% if config.selectDistinct %}
                                DISTINCT
                            {% endif %}
                            {%- for col in source.columns if not col.isSurrogateKey %}
                                {% if col.isSystemEndDate %}
                                    DATEADD(SECOND,-0.001, CAST(CURRENT_TIMESTAMP AS TIMESTAMP))
                                {% elif col.name == last_modified_col and useCurrentTimeStamp %}
					                `DIM`.`{{col.name}}` AS `{{ col.name }}`,
						            COALESCE(`DIM`.`{{last_modified_col}}`,CURRENT_TIMESTAMP()) as COMPARISON_VALUE,
						            MAX (`DIM`.`{{last_modified_col}}`) AS MAX_TARGET_VALUE		    
                                {% elif col.name == last_modified_col and not useCurrentTimeStamp%}
					                 `DIM`.`{{col.name}}` AS `{{ col.name }}`,
						             `DIM`.`{{last_modified_col}}` AS COMPARISON_VALUE,
					                 MAX (`DIM`.`{{last_modified_col}}`) AS MAX_TARGET_VALUE
                                {% else %}
                                    `DIM`.`{{ col.name }}`
                                {% endif %}
                                {%if col.name != last_modified_col %} AS `{{ col.name }}` {%endif%}
                                {%- if not loop.last %}, {% endif %}
                            {% endfor -%}
                            ,'D' AS delete_flag
                   {{ get_clause(joinclause,'from') }}
                  RIGHT JOIN {{ ref_no_link(node.location.name, node.name) }} `DIM` ON
                            {% for col in source.columns if col.isBusinessKey -%}
                                {% if not loop.first %}
                                    AND
                                {% endif %}
                                {{ get_source_transform(col) }} = `DIM`.`{{ col.name }}`
                            {% endfor %}
                            WHERE
                            {% for col in source.columns if col.isBusinessKey -%}
                                {% if not loop.first %}
                                    AND
                                {% endif %}
                                {{ get_source_transform(col) }} IS NULL
                            {% endfor %}     
                             {{ get_clause(joinclause) }}   
                 {% if config.groupByAll or config.lastModifiedComparison %}
                     GROUP BY ALL
                    {% endif %}
                   {{ sortorder_by_colv() }}
                        )
                    {% endif %}
                    {% if config.insertStrategy in ['UNION', 'UNION ALL'] and not loop.last %}
                        {{config.insertStrategy}}
                    {% endif %}
                {% endfor %}   
                    )
                    AS `SRC`
                ON
                {% for col in columns if col.isBusinessKey -%}
                    {% if not loop.first %}
                        AND
                    {% endif %}
                    `SRC`.`{{ col.name }}` = `TGT`.`{{ col.name }}`
					
                {% endfor %}
                {% if config.deleteStrategy == "HARD DELETE"
                    and node.isMultisource == false %}
                  WHEN MATCHED AND `SRC`.`delete_flag` = 'D'
                    THEN DELETE
                {% endif %}
                  WHEN MATCHED
				{%if not config.lastModifiedComparison%}
                {% for col in columns if not (   col.isBusinessKey or
                                                        col.isSystemUpdateDate or
                                                        col.isSystemCreateDate) %}
                    {% if loop.first %}
                        AND (
                    {% else %}
                        OR
                    {% endif %}
					{% if col.dataType == 'GEOGRAPHY' %}
							(
								ST_DISTANCE(
									(CASE 
										WHEN `SRC`.`{{ col.name }}` IS NULL THEN TO_GEOGRAPHY('POINT(0 0)') 
										ELSE `SRC`.`{{ col.name }}` 
									END),
									(CASE 
										WHEN `TGT`.`{{ col.name }}` IS NULL THEN TO_GEOGRAPHY('POINT(0 0)') 
										ELSE `TGT`.`{{ col.name }}` 
									END)
								) > 0
							)
						{% elif col.dataType == 'GEOMETRY' %}
							(
								ST_DISTANCE(
									(CASE 
										WHEN `SRC`.`{{ col.name }}` IS NULL THEN TO_GEOMETRY('POINT(0 0)') 
										ELSE `SRC`.`{{ col.name }}` 
									END),
									(CASE 
										WHEN `TGT`.`{{ col.name }}` IS NULL THEN TO_GEOMETRY('POINT(0 0)') 
										ELSE `TGT`.`{{ col.name }}` 
									END)
								) > 0
							)
						{% else %}
							(
                    NVL( CAST(`SRC`.`{{ col.name }}` as STRING), '**NULL**') <> NVL( CAST(`TGT`.`{{ col.name }}` as STRING), '**NULL**')
					)
					{% endif %}
                    {% if loop.last %}
                        )
                    {% endif %}
                {% endfor %}
                {%else%} 
                    AND (`SRC`.COMPARISON_VALUE > `SRC`.MAX_TARGET_VALUE 
                    OR `SRC`.MAX_TARGET_VALUE IS NULL)
                {%endif%}
                THEN UPDATE SET
                {%- for col in columns if not (col.isBusinessKey or col.isSystemCreateDate) %}
                        `TGT`.`{{ col.name }}` = `SRC`.`{{ col.name }}`
                    {% if not loop.last %}, {% endif %}
                {% endfor %}
                WHEN NOT MATCHED THEN
                INSERT (
                {%- for col in columns if not col.isSurrogateKey %}
                    `{{ col.name }}`
                    {% if not loop.last %}, {% endif %}
                {% endfor -%}
                )
                VALUES (
                {%- for col in columns if not col.isSurrogateKey %}
                    `SRC`.`{{ col.name }}`
                    {% if not loop.last %}, {% endif %}
                {% endfor -%}
                )
        
            {% else %}

               {# == Executed if business key is not specified  == #}

                {{ stage('Insert ' + ' Sources' | string ) }}
        
                    INSERT INTO {{ ref_no_link(node.location.name, node.name) }}
                    (
                        {% for col in columns %}
                            `{{ col.name }}`
                            {%- if not loop.last -%},{% endif %}
                        {% endfor %}
                    )
                {% for source in sources %}
                    (SELECT
                    {% if config.selectDistinct %}
                    DISTINCT
                    {% endif %}
                    {% for col in source.columns %}
                        {{ get_source_transform(col) }} AS `{{ col.name }}`
                        {%- if not loop.last -%}, {% endif %}
                    {% endfor %}
                    {{ source.join }}
                 {% if config.groupByAll %}
                     GROUP BY ALL
                 {% endif %}
                 {{ sortorder_by_colv() }})
                 {% if config.insertStrategy in ['UNION', 'UNION ALL'] and not loop.last %}
                     {{config.insertStrategy}}
                 {% endif %}
                {% endfor %} 
            {% endif %}

 {# == Queries to be excuted post data insertion  == #}

        {% if config.postSQL %}
            {{ stage('Post-SQL') }}
            {{ config.postSQL }}
        {% endif %}
    {% else %}
        {{ stage('Load Skipped for View') }}
        -- The node {{node.name}} is materialized as View. Therefore, a Load operation is not supported.
        SELECT 1 AS INFO_MESSAGE WHERE FALSE			  
							
    {% endif %}

{# == To run data quality tests after data insertion == #}

    {% if config.testsEnabled %}
        {% for test in node.tests %}
            {% if test.runOrder == 'After' %}
                {{ test_stage(test.name, test.continueOnFailure) }}
                {{ test.templateString }}
            {% endif %}
        {% endfor %}

        {% for column in columns %}
            {% for test in column.tests %}
                {{ test_stage(column.name + ": " + test.name) }}
                {{ test.templateString }}
            {% endfor %}
        {% endfor %}

    {% endif %}